@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

a {
  text-decoration: none;
  color: #646464;
}

.header {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
}

.header .left-links {
  display: flex;
  list-style-type: none;
  gap: 18px;
  margin-left: -20px;
}

.header .right-links {
  display: flex;
  list-style-type: none;
  gap: 18px;
  margin-right: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .left-links {
  display: flex;
  list-style-type: none;
  gap: 18px;
  margin-left: -20px;
}

.footer .right-links {
  display: flex;
  list-style-type: none;
  gap: 18px;
  margin-right: 20px;
}

.buttons {
  margin-top: 17px;
}