/* Add CSS Styling */

button {
    font-family: Helvetica, 'Times New Roman', sans-serif;
    font-size: 28px;
}

#firstClickBtn {
    color: white;
    background-color: black;
}

#secondClickBtn {
    color: black;
    background-color: yellow;
}