body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 12px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 10px;

}

.content {
  background: #e3f4ff;
  padding: 18px 10px 18px 10px;
}

.button-container {
  background: #e3f4ff;
  display: block;
  margin-top: 10px;
  text-align: center;
  padding: 8px
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  padding: 8px;
}